* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul .nav-link {
  color: rgb(56, 55, 55) !important;
  font-size: 0.85rem;
}
ul .nav-link:active {
  font-weight: bold;
  font-size: 0.85rem;
  color: black;

  border-bottom: 3px solid rgb(194, 4, 4);
}
ul .nav-link:visited {
  font-weight: bold;
  font-size: 0.85rem;
  color: black;

  border-bottom: 3px solid rgb(194, 4, 4);
}
ul .nav-link:hover {
  font-weight: bold;
  font-size: 0.85rem;
  color: black;
}
ul .nav-link:focus {
  font-weight: bold;
  font-size: 0.85rem;
  color: black;

  border-bottom: 3px solid rgb(194, 4, 4);
}
ul .nav-link:active {
  font-weight: bold;
  font-size: 0.85rem;
  color: black;

  border-bottom: 3px solid rgb(194, 4, 4);
}

div .yoyo :link {
  background-color: blueviolet !important;
  color: white;
}
div .yoyo :visited {
  background-color: blueviolet !important;
  color: white;
}

div .yoyo :hover {
  background-color: blueviolet !important;
  color: white;
}
div .yoyo :focus {
  background-color: blueviolet !important;
  color: white;
}
div .yoyo :active {
  background-color: blueviolet !important;
  color: white;
}
div .gender :active {
  color: white !important;
}

span {
  text-transform: capitalize;
  font-size: 0.65rem;
}
.name {
  font-size: 0.9rem;
  font-weight: bold;
}
.email {
  font-size: 0.62rem;
  color: red;
}
.email:active {
  color: white;
}
